@import url('https://fonts.googleapis.com/css?family=Abel');
body {
    background-image: url(../img/NightSky.jpg);
    font-family: 'Abel', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 100px;
    color: #ffffff;
}

.column {
    transition: transform 350ms, -webkit-transform 350ms;
    -webkit-transition: -webkit-transform 350ms;
    transition: -webkit-transform 350ms;
    transition: transform 350ms;
    width: 50px;
    float: left;
}

.colon {
    transition: transform 350ms, -webkit-transform 350ms;
    -webkit-transform: translateY(calc(50vh - 110px));
    -webkit-transition: -webkit-transform 350ms;
    transform: translateY(calc(50vh - 110px));
    transition: -webkit-transform 350ms;
    transition: transform 350ms;
    float: left;
    width: 40px;
}

.clock {
    position: fixed;
    float: left;
    left: 60%;
}

.colon:after {
    content: ':';
}

body .clock .number {
    float: left;
    height: 100px;
}

.number.distance1 {
    opacity: 1.0;
}
.number.distance2 {
    opacity: 0.35;
}
.number.distance3 {
    opacity: 0.15;
}
.number.distance4 {
    opacity: 0.1;
}
