@import url('https://fonts.googleapis.com/css?family=Abel');
body {
    background-image: url(../img/NightSky.jpg);
    font-family: 'Abel', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-weight: 700;
    overflow: hidden;
    font-size: 100px;
    color: #ffffff;
}

.column,
.colon {
    display: inline-block;
    vertical-align: top;
}

.column {
    transition: transform 350ms, -webkit-transform 350ms;
    -webkit-transition: -webkit-transform 350ms;
    transition: -webkit-transform 350ms;
    transition: transform 350ms;
    width: 50px;
}

.colon {
    transition: transform 350ms, -webkit-transform 350ms;
    -webkit-transform: translateY(calc(50vh - 110px));
    -webkit-transition: -webkit-transform 350ms;
    transform: translateY(calc(50vh - 110px));
    transition: -webkit-transform 350ms;
    transition: transform 350ms;
    width: 40px;
}

.clock {
    position: fixed;
    left: 60%;
}

.colon:after {
    content: ':';
}

.number {
    -webkit-transition: opacity 600ms;
    transition: opacity 600ms;
    height: 100px;
}

.distance1 {
    opacity: 1.0;
}
.distance2 {
    opacity: 0.45;
}
.distance3 {
    opacity: 0.20;
}
.distance4 {
    opacity: 0.1;
}
