@import url('https://fonts.googleapis.com/css?family=Abel');
body {
    background-image: url(../img/NightSky.jpg);
    font-family: 'Abel', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #ffffff;
    font-size: 60px;
}

.clock {
    top: 25%;
    left: 70%;
    position: absolute;
}

.column {
    width: 30px;
    float: left;
}

.colon {
    margin-top: 245px;
    width: 20px;
    float: left;
}

body .clock .number {
    height: 50px;
    float: left;
}

.number.visible {
    opacity: 1.0;
}
.number.close {
    opacity: 0.35;
}
.number.far {
    opacity: 0.15;
}
.number.distant {
    opacity: 0.1;
}
